/* All elements style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* H1 style */
h1 {
  text-align: center;
  font-size: 5rem;
  padding-top: 2rem;
}
/* Table style */
table {
  width: 50vw;
  height: 70vh;
  margin: 5rem auto;
  background-color: yellowgreen;
}
/* Table data style */
td {
  border: 1px solid black;
  background-color: aqua;
}
/* Table data background color */
tr:nth-child(2n) :nth-child(2n + 1),
tr:nth-child(2n + 1) :nth-child(2n) {
  background-color: black;
}
